<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("styles", false)

</head>
<body>
    @RenderBody()

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
