
@section styles{
    <style type="text/css">
        body {
            background-color: #32A060;
        }

        input[type=text] {
            max-width: 690px;
        }
    </style>
}
<div class="container-login">
    <img src="~/imagem/logo.png" style="
    width: 150px;
    height: 150px;
"/>
    <h1>ZapWeb</h1>
    <div class="container-form" id="cadastro">
        <input type="text" placeholder="Nome" id="nome" />
        <br />
        <input type="text" placeholder="E-mail" id="email" />
        <br />
        <input type="password" placeholder="Senha" id="senha" />

        <div class="container-cadastrar">
            <input type="button" value="CADASTRAR" id="btn_cadastrar" />
            <a class="cadastro-voltar" href="Login" id="voltar">VOLTAR</a>
        </div>
      
        <div class="container-button">
            <a href="Login"></a>
  
        </div>
        <span id="mensagem_cadastro"></span>
    </div>
</div>